################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/SimpleJapaneseMemory/bin
/SimpleJapaneseMemory/obj
